$color-primary: #3eaf7c;
$color-white: hsl(0, 0%, 100%);
$color-white-ter: hsl(0, 0%, 93%);
$color-white-bis: hsl(0, 0%, 95%);
$color-gray: hsl(0, 0%, 42%);
$color-gray-light: hsl(215, 14%, 84%);

$border-default-color: $color-gray-light;

$box-shadow: 8px 10px 0px 0 hsla(233, 45%, 26%, 0.15), 0 1px 3px 0 hsla(232, 23%, 47%, 0.2);

$spacing-tiny: .5rem;
$spacing-small: .75rem;
$spacing: 1rem;
$spacing-medium: 1.25rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem
